# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# uploads
uploads/

# googleCred
googleCred/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Build output
dist/
build/

# Coverage reports
coverage/
.nyc_output/

# Misc
*.tgz
